html, body{
  background: url('Assets/pexels-pixabay-235985.jpg') no-repeat center center fixed;
  box-sizing: border-box;
}
.page{

  width:80%;
  margin-right:auto;
  margin-left:auto;
  box-shadow:2px 2px 20px #c8f3f9;
  background-color: hsla(0, 0%, 100%, .2);
  color:whitesmoke;
  text-shadow: 1px 1px 5px black;
}
@media (min-width:768px) {
  .page{

  }
}

  .logoimg{
    border-radius:100%;
    width: auto;
    border:1px solid silver;
    transition: all 0.5s ease-in-out;
    filter: grayscale(50%);
    height:30vh;
    display: block;
    margin-left: auto;
    margin-right:auto;
    top:0.5em;
    position: relative;
    margin-bottom: 1rem;

  }
  .kepnev{
   /* background-color: aqua;*/
    text-align: center;
  }
  @media (min-width:768px) {
    .kepnev{
      max-width: 500px;
      height:auto;
      margin:5px;
      float: left;
    }
  }
  .logoimg:hover {
    transform: scale(1.1);
    filter: grayscale(5%);
    border:5px solid rgb(235, 118, 9);
  }
  #pikk{
    margin-top: 30%;
  }
  #pikk:hover{
    color: #c8f3f9;
  }

/*Banner*/
#carimg{
  height:100%;
  width: 100%;
  max-width:500px;
  max-height:500px;
  object-fit: cover;
  margin: auto auto;
}
@media  (min-width: 768px){
  #carimg{
    height:500px;
    width: 500px;
    object-fit: cover;
    margin: auto auto;
  }
}
.carousel{
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
height:100%;
width:90%;
max-width:500px;
max-height:500px;
overflow: hidden;
margin-top: 1,875rem;
margin-left: auto;
margin-right: auto;
bottom: 1,875rem;
}
@media  (min-width: 768px){
  .carousel{
 width:500px;
 height:490px;
 margin-right: 40px;
 bottom:0;
 right:0;
 left:0;
 margin-bottom: 2%;
 position: absolute;
  }
}

.image-container{
display: flex;
transform: translateX(0);
transition: transform 0.5s ease-in-out;
}
/*Banner eddig*/
/*Innen a cookie*/
.container{
  width:100%;
  margin:auto;
}
.subcontainer{
  width:85%;
  margin:auto;
}
#cookies{
  width:100%;
  position: fixed;
  bottom: 0;
  color:white;
  background-color: rgba(0,0,0,.7);
  z-index: 1;
  display:none;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;;
  font-weight: 100;

}
.cookies{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.cookies a{
  color:yellow;
  font-weight: 500;
  text-decoration: none;

}
#cookies-btn{
  border-radius: 5px;
  padding: 8px 12px 8px 12px;
  font-size: 1rem;
  cursor:pointer;
  border:3px solid white;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  color:white
}

@media(max-width:1600px){
  .container{
    width:100%;
  }
}
@media(max-width:1024px){
  .cookies{
    padding:10px 0;
  }
}
/*eddig cookies*/
.socicon{
  display: inline;
  color:blue;
  padding:1rem;
}
/*terkep*/

.mapouter{
  position:relative;
  text-align:right;
  width:100%;
  height:400px;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  width:100%;height:400px;
}
.gmap_iframe {
  height:400px!important;}

@media (min-width:768px) {
  #terkep{
    position:absolute;
    right:0;
    top:0;
    width: 50%;
    height: 16%;
    padding-bottom: 1rem;
  }
}
@media (min-width:768px) {
  .mapouter{
    position:absolute;
    right:0;
    top:0;
    max-width:40%;
    margin-top:10%;
    margin-right: 5%;
  }
}